
<h1>Stats for <%= @location.name %> </h1>
<h2><%= @location.address %></h2>
<% @charts.each do |chart| %>
  <div class="col-md-3 chart-pane">
    <h3><%= chart.name %>:</h3>
    <br>
    <p>Rating: <%= chart.score_ticks %></p>
  </div>
<% end %>

<%= image_tag google_map, class: "map_back" %>
